body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #eff1ea;
}

h1 {
    text-align: center;
}

form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px #4CAF50;
}

form div {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

label {
    font-weight: bold;
}

input,
textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form label {
    color: #333;
}

form input form textarea {
    width: 100%;
}

#resume {
    margin-top: 40px;
}

#resume {
    padding: 20px;
    background-image: url("images/resume.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#resume h2 {
    color: #4CAF50;
}

#resume p {
    margin-bottom: 10px;
    background-color: #ccc;
    width: fit-content;
}